&spi3{
    bmi270: spi-dev-bmi270@1 {
		compatible = "bosch,bmi270";
		status = "okay";
		spi-max-frequency = <8000000>;
		reg = <1>;
		irq-gpios=<&gpio0 23 GPIO_ACTIVE_HIGH>; 
	};

	adxl362: spi-dev-adxl362@0 {
		compatible = "adi,adxl362";
		status = "disabled"; 
		spi-max-frequency = <8000000>;
		reg = <0>;
		int1-gpios = <&gpio0 19 0>;
	};
};

&mx25r64 {
	partitions {
		compatible = "fixed-partitions";

		#address-cells = <1>;
		#size-cells = <1>;

		littlefs_storage: partition@120000 {
			label = "lfs_storage";
			reg = <0x00120000 0x006E0000>; 
		};
	};
};

/ {
	msc_disk0: msc_disk0 {
		compatible = "zephyr,flash-disk";
		partition = <&littlefs_storage>;
		disk-name = "NOR";
		cache-size = <4096>; 
	};
};


